* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25% !important;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;padding-bottom: calc(var(--bs-gutter-x)/ 2) !important;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1000px) {
  .age-panel{
  margin-top:16.3px !important;
  height: max-content !important ;
    width: 50% !important;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  height: calc(100% - 5%);
  background-color: #f1f1f1;
  background: transparent !important;
}
.fee-panel{
  height: max-content !important ;
  width: 50% !important;
}

}

/* Responsive columns */
@media screen and (max-width: 767px) {
  .column {
    width: 100% !important;
    display: block;
    margin-bottom: 20px;
  }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  height: max-content !important ;
  background-color: #f1f1f1;
  background: transparent !important;
}
.fee-panel{
  height: max-content !important ;
  width: 50% !important;
}
.age-panel{
  margin-top:16.3px !important;
  height: max-content !important ;
    width: 50% !important;
}

}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  height: calc(100% - 5%);
  background-color: #f1f1f1;
  background: transparent !important;
}
.fee-type-free {
    background-color: green;
    color: white;
    border-radius: 50px;
    border: 1px solid green;
}
.fee-type-paid {
    background-color: #a91203;
    color: white;
    border-radius: 50px;
    border: 1px solid #a91203;
}
.age-mid {
    background-color: #214286;
    color: white;
    border-radius: 5px;
    border: 1px solid #214286;
}
.age-max {
    background-color: #b91652;
    color: white;
    border-radius: 5px;
    border: 1px solid #b91652;
}
.center-address{
  height:  max-content ;
  font-family: "Times New Roman", Times, serif;
   text-transform: capitalize;
   color: grey;
   text-align: center;
}
.fee-panel{
  height:  max-content ;
}
.slot-time{
    background-color: #FFF;
    color: #EC5B24;
    border: 1px solid #EC5B24;
    box-shadow: none;
    padding: 5px;
    margin: 5px;
    width: max-content !important;

}
.dosage{
margin: 5px;
padding: 1px;
}
.center-count{
  font-family: "Times New Roman", Times, serif;
   color: grey;
   font-size: 2em;
   text-align: center;
}
.navfilterpanel{
  cursor:pointer ;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #FFF;
    color: #EC5B24;
    border: 1px solid #EC5B24;
    box-shadow: none;
    padding: 5px;
    margin: 5px;
    width: max-content !important;
}
.filternavpanel{
  background: #fbf9f9;
}